    
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="example-spacer"></span>
      <mat-icon>whatshot</mat-icon>
      <span> Angular Material        . REST API  . PHP MYSQL </span>
      <mat-icon>whatshot</mat-icon>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" matTooltip="Contact us" [matMenuTriggerFor]="menu">contacts</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #menu="matMenu">

  <a href="https://github.com/mossiXYZ" target="_blank">
    <button mat-menu-item>
      <mat-icon matTooltip="email">send</mat-icon>
      Github
    </button>
  </a>
  <a href="https://www.linkedin.com/in/mostafa-hashemi/" target="_blank">
    <button mat-menu-item>
      <mat-icon matTooltip="email">send</mat-icon>
      Linkedin
    </button>
  </a>
</mat-menu>

<mat-card class="example-card">

<mat-card-content>
    <app-mattabledata></app-mattabledata>
</mat-card-content>
</mat-card>

<hr>
<app-footer></app-footer>